*{
    border-radius: 10px;
}

button{
    color:whitesmoke;
    background-color: #3882f6;
    padding: 6px 20px;
    margin: 4% 0;
    border: none;
    font-weight: bold;
    border: 2px solid white;

}

.header, ul{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

a, li{
    text-decoration: none;
    list-style: none;
    color: inherit;
}

.container{
    margin: 0 20%;
}

.first-container-color{
    color: whitesmoke;
}
.first-inner-container{
    display: flex;
    justify-content:space-around;
    color: whitesmoke;

}

.first-inner-inner-container{
    display: flex;
    justify-content: center;
    margin: 5%;
}

.first-inner-inner-inner-container{
    width: 50%;
    justify-content: center;
    align-items: center;
}

.first-inner-inner-inner-inner-container{
    background-color: grey;
    width: auto;
}

.first-container-color{
    background-color: #1F2937;
    /* Need this to fix the margin problem */
    border: 5px solid black;
}

.second-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
}

.second-inner-inner-container{
    display: flex;
    gap: 20px;
    width: 70%;
}

.empty-card{
    border: 2px solid #3882f6;
    /* TO adjust the card size */
    padding: 30%;
}

.card p{
    text-align: center;
}

.third-container{
    background-color: #E5E7EB;
    margin: 5% 0;
    padding: 5% 0;
}

.third-inner-container{
    width: 50%;
   /* Don't know why this line of code work */
   margin: auto;
   background-color: #e5e7eb;
}

.third-inner-inner-container{
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.fourth-container{
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    width: 80%;
    height: 50%;
    margin: auto;
    padding: 2%;
    color: whitesmoke;
}

.fourth-inner-inner-container{
    margin: auto;
}


